:root {
    --main-bg-color: #141922;
    --toolbar-bg-color: #282828;
    --header-bg-color: black;
}


html {
    font-family: 'Signika', sans-serif;
    color: white;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul, ol, menu {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background-color: transparent;
}

body {
    display: flex; 
    flex-direction: column;   
    height: 100vh;
}

.display {
    background-color: var(--main-bg-color);
    flex-grow: 1;
    flex-basis: 100%;
    display: flex;
}

.toolbar {
    background-color: var(--toolbar-bg-color);
    min-width: 1200px;
    min-height: 80px;
}

.display__header {
    min-width: 120px;
    background-color: var(--header-bg-color);    
}