html {
    font-family: 'Signika', sans-serif;
}

:root {
    --toolbar-bg-color: #282828;
    --main-bg-color: #141922;
    --sidebar-bg-color: black;
    --green: #A3F02C;
    --grey: #717171;
}

ul, ol, menu {
    list-style: none;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
    display: inline-block;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.content-wrapper {
    overflow: hidden;
    /* border: 2px solid red; */
    flex-grow: 1;
    display: flex;
}

.toolbar {
    flex-basis: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--toolbar-bg-color);
    padding: 10px 0px;
    /* border: 2px solid green; */
}

.sidebar {
    flex-shrink: 0;
    flex-basis: 50px;
    background-color: var(--sidebar-bg-color);
    /* padding: 20px; */
    /* border: 2px solid salmon; */
}

@media (min-width: 550px) {
    .sidebar {
        flex-basis: 230px;
    }
}

.main-content {
    overflow: auto;
    background-color: var(--main-bg-color);
    padding: 20px;
    /* border: 2px solid blue; */
    flex-grow: 1;
}

.toolbar > * {
    padding: 10px;
    border: 2px solid white;
}

.current-song, .volume {
    flex-basis: 230px;
}

.player {
    flex-basis: 35%;
}

.sidebar-pad {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
}

.logo-wrapper {
     padding-top: 1.25rem;
     padding-bottom: 1.25rem;
}

.logo-text {
    display: none;
    height: 2.5rem;
} 

@media (min-width: 550px) {
    .logo-text {
        display: block;
    }
    .logo {
        display: none;
    }
}

.nav-button a {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    font-weight: 700;
}

.nav-button {
    color: var(--grey);
}

.nav-button img {
    opacity: 0.6;
    width: 1.75rem;  
}